<div class="profile">
  <div class="leftpanel">
    <img class="avatar" src="assets/prof.jpg" alt="">
    <div class="work">
      <span class="head">
        <span class="company">CHAIN SYS</span>
        <span class="address">
          <span>Krisp IT Park,</span>
          <span>942, Vandalur-Kelambakkam Road,</span>
          <span>Kizhakottayur,</span>
          <span>Chennai,</span>
          <span>Tamil Nadu 600127</span>
        </span>
      </span>
      <span class="skills">
        <span class="designation">UI/FRONT-END/WEB DEVELOPER</span>
        <span class="skill">
          <span>HTML</span>
          <span>CSS</span>
          <span>JAVASCRIPT</span>
          <span>JQUERY</span>
          <span>ANGULAR</span>
        </span>
      </span>
    </div>
  </div>
  <div class="rightpanel">
    <div class="head">
      <div>
        <span class="name">Manoj S</span>
        <span class="location">Chennai</span>
      </div>
      <div class="desig">FRONT-END DEVELOPER</div>
    </div>
    <div class="user-det">
      <div>Ratings</div>
      <span class="ratingcontainer">
        <span class="ratings">4.0</span>
        <span>
          <span><i class="material-icons fill">star_rate</i></span>
          <span><i class="material-icons fill">star_rate</i></span>
          <span><i class="material-icons fill">star_rate</i></span>
          <span><i class="material-icons fill">star_rate</i></span>
          <span><i class="material-icons">star_rate</i></span>
        </span>
      </span>
    </div>
  </div>
</div>