<mat-card class="left-card p-0">
    <mat-card-header class="position-relative">
      <mat-toolbar color="primary"></mat-toolbar>
      <div mat-card-avatar class="header-image mano position-absolute size-11"></div>
    </mat-card-header>
    <mat-card-content>
        <div class="user-specs text-center">
            <h3 class="font-dec-12 font-weight-bold mb-2 text-dark">Manoj S</h3>
            <span class="color-darker font-dec-9">Full Stack Developer</span>
        </div>
        <ul class="user-status text-center">
          <li>
            <h4 class="color-darker font-dec-12 mb-2">Following</h4>
            <span class="font-dec-12">34</span>
          </li>
          <li>
            <h4 class="color-darker font-dec-12 mb-2">Followers</h4>
            <span class="font-dec-12">155</span>
          </li>
          <li>
            <a href="#" title="">View Profile</a>
          </li>
        </ul>
    </mat-card-content>
  </mat-card>