.left-card {
    mat-card-header{
        .header-image {
            left: calc(50% - 55px);
            bottom: -55px;
            border: 5px solid #fff;
        }
        mat-toolbar{
            height: 100px;
        }
    }
    .user-specs{
        padding-top: 60px;
        text-align: center;
        h3{
            color: #000000;
            font-size: 20px;
            text-transform: capitalize;
            font-weight: 600;
            margin-bottom: 8px;
        }
        span{
            color: #686868;
            font-size: 14px;
        }
    }
    .user-status{
        list-style-type: none;
        padding: 15px 0 0 0;;
        text-align: center;
        li{
            border-top: 1px solid #e5e5e5;
            padding: 15px 0;
            h4{
                color: #686868;
                font-size: 20px;
                margin-bottom: 10px;
            }
            span{
                color: #000000;
                font-size: 20px;
            }
        }
    }
}