<mat-card class="left-card p-0">
    <mat-card-header class="position-relative">
      <mat-toolbar color="primary"></mat-toolbar>
      <div mat-card-avatar class="header-image mano position-absolute size-11"></div>
    </mat-card-header>
    <mat-card-content>
        <div class="user-specs">
            <h3>Manoj S</h3>
            <span>Full Stack Developer</span>
        </div>
        <ul class="user-status">
          <li>
            <h4>Following</h4>
            <span>34</span>
          </li>
          <li>
            <h4>Followers</h4>
            <span>155</span>
          </li>
          <li>
            <a href="#" title="">View Profile</a>
          </li>
        </ul>
    </mat-card-content>
  </mat-card>