<div class="container mt-3 pt-1 d-flex">
  <div class="col-lg-3 col-md-4">
      <app-profile-info></app-profile-info>
  </div>
  <div class="col-lg-6 col-md-8">
      <app-post-info></app-post-info>

      <!-- <mdb-carousel [isControls]="true" class="sample carousel-multi-item multi-animation pt-2" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-4" [ngClass]="{'d-none d-md-block': cardIndex !== 0}" *ngFor="let card of item; let cardIndex = index">
            <mat-card class="col mr-1 mt-2 mb-2 d-flex align-items-center flex-column justify-content-center">
                <div class="size-5 mr-2 {{card.avatar}} mat-card-avatar"></div>
                <h3 class="mt-3 mb-1 text-dark font-dec-9 font-weight-bold">{{card.name}}</h3>
                <p class="m-0 color-darker font-dec-8">{{card.designation}}</p>
                <div class="d-flex">
                    <button mat-flat-button class="mr-2 greenbg text-white">Follow</button>
                    <button mat-flat-button color="accent">View</button>
                </div>
          </mat-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel> -->
    
      <div class="sample position-relative">
        <div class="card-container">
          <div id="carouse-inner-blk" class="mt-3 position-relative">
            <mat-card *ngFor="let card of cards" class="col mt-2 mb-2 d-flex align-items-center flex-column justify-content-center">
                <div class="size-5 mr-2 {{card.avatar}} mat-card-avatar"></div>
                <h3 class="mt-3 mb-1 text-dark font-dec-9 font-weight-bold">{{card.name}}</h3>
                <p class="m-0 color-darker font-dec-8">{{card.designation}}</p>
                <div class="d-flex">
                    <button mat-flat-button class="mr-2 greenbg text-white">Follow</button>
                    <button mat-flat-button color="accent">View</button>
                </div>
            </mat-card>
          </div>
        </div>
        <button mat-mini-fab color="primary" class="left position-absolute size-2 d-flex align-items-center justify-content-center">
          <mat-icon class="font-dec-10">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-mini-fab color="primary" class="right position-absolute size-2 d-flex align-items-center justify-content-center">
          <mat-icon class="font-dec-10">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    <app-job-info></app-job-info>
  </div>
  <div class="col-lg-3 col-md-4 pr-0">
      <app-suggestions-info></app-suggestions-info>
    <!-- <mat-card class="right-card mt-3 mb-3">
      <div class="chead d-flex justify-content-between">
        <h3>Top Jobs</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <ul>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
      </ul>
    </mat-card>

    <mat-card class="right-card mt-3 mb-3">
        <div class="chead d-flex justify-content-between">
          <h3>Most Viewed This Week</h3>
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <ul>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
        </ul>
      </mat-card> -->
  </div>
</div>