<div class="container mt-3 pt-1">
  <div class="col-lg-3 col-md-4">
      <app-profile-info></app-profile-info>
  </div>
  <div class="col-lg-6 col-md-8">
      <app-post-info></app-post-info>
      <!-- <div class="right-card mt-3">
          <div class="chead d-flex justify-content-between">
            <h3>Top Profiles</h3>
            <i class="fa fa-ellipsis-v"></i>
          </div>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <mat-card>Manoj</mat-card>
                </div>
                <div class="carousel-item">
                  <mat-card>Sachin</mat-card>
                </div>
                <div class="carousel-item">
                  <mat-card>Dhoni</mat-card>
                </div>
              </div>
            </div>
          </div> -->
        <app-job-info></app-job-info>
        <!-- <mat-card class="center-card mt-3">
            <mat-card-header>
              <div class="posthead">
                  <div mat-card-avatar class="userimage manoj"></div>
                  <div class="userdet p-2">
                    <h3 class="m-0">Manoj S</h3>
                    <span>
                      <i class="fa fa-clock-o"></i>
                      <span class="pl-2">8 min ago</span>
                    </span>
                  </div>
              </div>
                <span class="more">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
            </mat-card-header>
            <mat-card-content>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <span class="code">
                    <i class="fa fa-code text-primary"></i>
                    <span>Epic Coder</span>  
                  </span>
                  <span class="location">
                    <span class="locarrow mr-1"><i class="fa fa-map-marker "></i></span>
                    <span>Chennai, India</span>  
                  </span>
                </div>
                <div>
                    <button mat-flat-button class="bookmark">
                      <i class="fa fa-bookmark-o"></i> 
                    </button>
                    <button mat-flat-button color="primary" class="env">
                      <i class="fa fa-envelope-o"></i>
                    </button>
                  </div>
              </div>
              <h2 class="desig">Full Stack Developer</h2>
              <div class="mt-3">
                <span class="mr-2 worktype">Full Time</span>
                <span class="charge">$30 / hr</span>
              </div>
              <p class="mt-3 desc">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...</span>
                <a href="#" class="ml-2">View more</a>
              </p>
              
              <div class="skills">
                <span class="mr-2 worktype">HTML</span>
                <span class="mr-2 worktype">CSS</span>
                <span class="mr-2 worktype">JAVASCRPT</span>
                <span class="mr-2 worktype">ANGULAR</span>
                <span class="mr-2 worktype">NODEJS</span>
              </div>
            </mat-card-content>
            <div class="footer d-flex justify-content-between">
                <div>
                    <button mat-icon-button color="accent">
                      <mat-icon>favorite</mat-icon>
                    </button>
                    <mat-label>256</mat-label>
                    <button mat-icon-button color="primary" class="ml-3">
                      <mat-icon>comment</mat-icon>
                    </button>
                    <mat-label>32</mat-label>
                </div>
                <div>
                    <button mat-icon-button>
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                    <mat-label>765</mat-label>
                </div>
                <span class="bordertop"></span>
            </div>
          </mat-card>
          <mat-card class="center-card mt-3">
              <mat-card-header>
                <div class="posthead">
                    <div mat-card-avatar class="userimage akash"></div>
                    <div class="userdet p-2">
                      <h3 class="m-0">Akash D Souza</h3>
                      <span>
                        <i class="fa fa-clock-o"></i>
                        <span class="pl-2">15 min ago</span>
                      </span>
                    </div>
                </div>
                  <span class="more">
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
              </mat-card-header>
              <mat-card-content>
                <div class="d-flex justify-content-between">
                  <div class="d-flex align-items-center">
                    <span class="code">
                      <i class="fa fa-code text-primary"></i>
                      <span>Epic Coder</span>  
                    </span>
                    <span class="location">
                      <span class="locarrow mr-1"><i class="fa fa-map-marker "></i></span>
                      <span>Chennai, India</span>  
                    </span>
                  </div>
                  <div>
                      <button mat-flat-button class="bookmark">
                        <i class="fa fa-bookmark-o"></i> 
                      </button>
                      <button mat-flat-button color="primary" class="env">
                        <i class="fa fa-envelope-o"></i>
                      </button>
                    </div>
                </div>
                <h2 class="desig">Javascript Developer</h2>
                <div class="mt-3">
                  <span class="mr-2 worktype">Full Time</span>
                  <span class="charge">$40 / hr</span>
                </div>
                <p class="mt-3 desc">
                  <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet...</span>
                  <a href="#" class="ml-2">View more</a>
                </p>
                
                <div class="skills">
                  <span class="mr-2 worktype">HTML</span>
                  <span class="mr-2 worktype">CSS</span>
                  <span class="mr-2 worktype">JAVASCRPT</span>
                  <span class="mr-2 worktype">ANGULAR</span>
                  <span class="mr-2 worktype">NODEJS</span>
                </div>
              </mat-card-content>
              <div class="footer d-flex justify-content-between">
                  <div>
                      <button mat-icon-button color="accent">
                        <mat-icon>favorite</mat-icon>
                      </button>
                      <mat-label>256</mat-label>
                      <button mat-icon-button color="primary" class="ml-3">
                        <mat-icon>comment</mat-icon>
                      </button>
                      <mat-label>32</mat-label>
                  </div>
                  <div>
                      <button mat-icon-button>
                          <mat-icon>remove_red_eye</mat-icon>
                      </button>
                      <mat-label>765</mat-label>
                  </div>
                  <span class="bordertop"></span>
              </div>
            </mat-card> -->
  </div>
  <div class="col-lg-3 col-md-4 pr-0">
      <mat-card class="right-card">
          <div class="chead d-flex justify-content-between">
            <h3>Suggestions</h3>
            <i class="fa fa-ellipsis-v"></i>
          </div>
          <ul>
            <li class="align-items-center justify-content-between pb-3">
              <div class="d-flex align-items-center">
                  <div class="popular gayathri mat-card-avatar"></div>
                  <div>
                    <h5 class="m-0">Gayathri M</h5>
                    <p class="m-0">Full Stack Developer</p>
                  </div>
              </div>
              <button mat-mini-fab color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </li>
            <li class="align-items-center justify-content-between pb-3">
                <div class="d-flex align-items-center">
                    <div class="popular mirnalini mat-card-avatar"></div>
                    <div>
                      <h5 class="m-0">Mirnalini R</h5>
                      <p class="m-0">Graphic Designer</p>
                    </div>
                </div>
                <button mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </li>
              <li class="align-items-center justify-content-between pb-3">
                <div class="d-flex align-items-center">
                    <div class="popular mathu mat-card-avatar"></div>
                    <div>
                      <h5 class="m-0">Mathu</h5>
                      <p class="m-0">Software Engineer</p>
                    </div>
                </div>
                <button mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </li>
              <li class="align-items-center justify-content-between pb-3">
                <div class="d-flex align-items-center">
                    <div class="popular karthi mat-card-avatar"></div>
                    <div>
                      <h5 class="m-0">Karthikeyan J</h5>
                      <p class="m-0">Software Developer</p>
                    </div>
                </div>
                <button mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </li>
              <li class="align-items-center justify-content-between pb-3">
                <div class="d-flex align-items-center">
                    <div class="popular gowtham mat-card-avatar"></div>
                    <div>
                      <h5 class="m-0">Gowtham S</h5>
                      <p class="m-0">Java Developer</p>
                    </div>
                </div>
                <button mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </li>
              <li class="align-items-center justify-content-between pb-3">
                <div class="d-flex align-items-center">
                    <div class="popular ananya mat-card-avatar"></div>
                    <div>
                      <h5 class="m-0">Ananya P</h5>
                      <p class="m-0">UI Developer</p>
                    </div>
                </div>
                <button mat-mini-fab color="primary">
                  <mat-icon>add</mat-icon>
                </button>
              </li>
          </ul>
        </mat-card>
    <mat-card class="right-card mt-3 mb-3">
      <div class="chead d-flex justify-content-between">
        <h3>Top Jobs</h3>
        <i class="fa fa-ellipsis-v"></i>
      </div>
      <ul>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
        <li>
          <div>
            <h5>Senior Product Designer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
          </div>
          <h5>$25/hr</h5>
        </li>
      </ul>
    </mat-card>

    <mat-card class="right-card mt-3 mb-3">
        <div class="chead d-flex justify-content-between">
          <h3>Most Viewed This Week</h3>
          <i class="fa fa-ellipsis-v"></i>
        </div>
        <ul>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
          <li>
            <div>
              <h5>Senior Product Designer</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit..</p>
            </div>
            <h5>$25/hr</h5>
          </li>
        </ul>
      </mat-card>
      
  </div>
</div>