<div class="container mt-3 pt-1">
  <div class="col-lg-3 col-md-4">
      <mat-card class="left-card">
          <mat-card-header>
            <mat-toolbar color="primary"></mat-toolbar>
            <div mat-card-avatar class="header-image"></div>
          </mat-card-header>
          <mat-card-content>
              <div class="user-specs">
                  <h3>Manoj S</h3>
                  <span>Full Stack Developer</span>
              </div>
              <ul class="user-status">
                <li>
                  <h4>Following</h4>
                  <span>34</span>
                </li>
                <li>
                  <h4>Followers</h4>
                  <span>155</span>
                </li>
                <li>
                  <a href="#" title="">View Profile</a>
                </li>
              </ul>
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>
  </div>
  <div class="col-lg-6 col-md-8">
      <mat-card class="center-card">
          <mat-card-header class="actions">
            <mat-toolbar color="primary"></mat-toolbar>
            <div mat-card-avatar class="userimage manoj"></div>
            <div>
                <button mat-flat-button color="accent" class="mr-3">Post a Project</button>
                <button mat-flat-button color="primary">Post a Job</button>
            </div>
          </mat-card-header>
        </mat-card>
        <mat-card class="center-card mt-3">
          <mat-card-header>
            <div class="posthead">
                <div mat-card-avatar class="userimage ananya"></div>
                <div class="userdet p-2">
                  <h3 class="m-0">Ananya P</h3>
                  <span>
                    <i class="fa fa-clock-o"></i>
                    <span class="pl-2">3 min ago</span>
                  </span>
                </div>
            </div>
              <span class="more">
                <i class="fa fa-ellipsis-v"></i>
              </span>
          </mat-card-header>
          <mat-card-content>
            <div class="d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <span class="code">
                  <i class="fa fa-code text-primary"></i>
                  <span>Epic Coder</span>  
                </span>
                <span class="location">
                  <span class="locarrow mr-1"><i class="fa fa-map-marker "></i></span>
                  <span>Chennai, India</span>  
                </span>
              </div>
              <div>
                  <button mat-flat-button class="bookmark">
                    <i class="fa fa-bookmark-o"></i> 
                  </button>
                  <button mat-flat-button color="primary" class="env">
                    <i class="fa fa-envelope-o"></i>
                  </button>
                </div>
            </div>
            <h2 class="desig">Full Stack Developer</h2>
            <div class="mt-3">
              <span class="mr-2 worktype">Full Time</span>
              <span class="charge">$30 / hr</span>
            </div>
            <p class="mt-3 desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam luctus hendrerit metus, ut ullamcorper quam finibus at. Etiam id magna sit amet... </p>
          </mat-card-content>
        </mat-card>
  </div>
</div>