/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

$green-light: #53d690;
$gray-light:#b2b2b2;
$gray-lighter: #f2f2f2;
$gray-dark: #aaaaaa;
$gray-darker: #686868;
$gray-border: #e5e5e5;
$white: #ffffff;
$black: #000000;

$avatars: mano ananya mirnalini gayathri karthi gowtham mathu akash;

@each $avatar in $avatars{
    .#{$avatar}{
        background-image: url("./assets/#{$avatar}.jpg");
        background-size: cover;
    }
}

@for $i from 1 through 30{
    .font-dec-#{$i}{
        font-size: 0.1rem * $i;
    }
    
    .letter-spacing-#{$i}{
        letter-spacing: #{$i}px;
    }

    .size-#{$i}{
        width: 10px * $i !important;
        height: 10px * $i !important;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1185px;
    }
}

*{
    font-family: 'Source Sans Pro';
}

body, html {
    height: 100vh;
    margin: 0;
    background: $gray-lighter;
}

ul, .mat-card-header-text{
    margin: 0 !important;
}

mat-card-content{
    margin-bottom: 0;
}

.carousel{
    display: flex;
    justify-content: center;
    .carousel-inner{
        width: 95%;
    }
    &:focus{
        outline: none;
    }
    .carousel-indicators{
        display: none;
    }
    .btn-floating{
        position: absolute;
        cursor: pointer;
        top: 50%;
        width: 20px;
        height: 20px;
        background-color: #3f51b5;
        border-radius: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:first-child{
            left: -12px;
        }
        &:last-child{
            right: -12px;  
        }
        i{
            font-size: 10px;
            color: #fff;
        }
    }
}
.fas{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.sample{
    height: 215px;
    .card-container{
        overflow: hidden;
        height: 100%;
        margin: 0 40px;
        #carouse-inner-blk{
            height: 100%;
        }
    }
    mat-card{
        height: 180px;
        width: 145px;
        position: absolute;
        button{
            min-width: auto;
            padding: 5px 10px;
            line-height: 1;
            font-size: 12px;
        }
    }
    button{
        box-shadow: none !important;
        top: 48%;
        .mat-button-wrapper{
            padding: 0 !important;
        }
        &.left{
            left: 10px;
        }
        &.right{
            right: 10px;
        }
    }
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active{
    display: flex;
}

.white-snackbar{
    background: $white;
    color: $black;
}

button:focus{
    outline: none;
}

.right-card{
    .mat-button-wrapper{
        padding: 0 !important;
    }
}   

.center-card{
    mat-toolbar{
        height: 4px;
        top:0;
        left:0;
    }
}

.color-light{
    color: $gray-light;
}

.color-darker{
    color: $gray-darker;
}

.greenbg{
    background: $green-light;
}

.desc{
    color: $gray-darker;
    line-height: 24px;
}

.worktype{
    color: $gray-dark;
    background-color: $gray-border;
}