<mat-toolbar color='primary'>
  <mat-toolbar-row class="container">
    <button mat-button class="logo">
      <i class="fa fa-rocket"></i>
      <span>LIVEFREE</span>
    </button>
    <ul>
      <li>
        <button mat-button>
          <i class="fa fa-home"></i>
          <span>HOME</span>
        </button>
      </li>
      <li>
        <button mat-button>
          <i class="fa fa-users"></i>
          <span>STARTUPS</span>
        </button>
      </li>
      <li>
        <button mat-button>
          <i class="fa fa-puzzle-piece"></i>
          <span>PROJECTS</span>
        </button>
      </li>
      <li>
        <button mat-button>
          <i class="fa fa-user"></i>
          <span>PROFILES</span>
        </button>
      </li>
      <li>
        <button mat-button>
          <i class="fa fa-briefcase"></i>
          <span>JOBS</span>
        </button>
      </li>
      <li>
        <button mat-button>
          <i class="fa fa-envelope"></i>
          <span>MESSAGES</span>
        </button>
      </li>
      <li>
        <button mat-button class="userinfo">
          <span class="userimg">
            <img src="assets/mano.jpg">
          </span>
          <span class="username">Manoj</span>
          <i class="fa fa-caret-down"></i>
        </button>
      </li>
      <li>
        <button mat-button class="userinfo search">
          <i class="fa fa-search"></i>
        </button>
      </li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>